    
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
		<title>VodLearn</title>
<<<<<<< HEAD
		{{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}
		{{!-- <script src="/assets/js/cats.js"></script> --}}
=======
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/dashboard.js"></script>
>>>>>>> 34cc3434aeff833a80a7e6714d34c3a98607b905
	</head>
	<body>
		{{{ body }}}
	</body>
</html>