<div class="nav-bar">
<h1>Dashboard</h1>
<a id="sign-out">Sign Out</a>
</div>


<div class="side-bar">
<ul>
    <li>Test</li>
</ul>

</div>



<div class="quiz-table">
<table>
     <tr>
    <th id="quiz-name">Quiz Name</th>
    <th>Date Created</th> 
    <th>Invitees</th>
    <th></th>
  </tr>
 {{#each quiz_name}}
 <tr>
  <td><a href="/quiz/{{id}}">{{quiz_name}}</a></td>
    <td>12/23/2345</td> 
    <td>12</td>
    <td><img id="delete-button" src="/assets/delete-button.svg"></td>
    </tr>
{{/each}}
</table>
</div>

		<script src="../assets/js/dashboard.js"></script>
