<div class="nav-bar">
<h1>Dashboard</h1>
<br>
{{!-- <p>{{msg}}</p>
 {{#each examples}}
<p ="quiz/{{this.id}}">{{this.user}}</p>
{{/each}} --}}

<a id="sign-out">Sign Out</a>
</div>


<div class="side-bar">
{{> navbar-views/main-nav sleep=false}}

</div>



<div id="display-stage">

{{> stage-views/quizlist-block sleep=false}}
</div>


