<div class="nav-bar">
    <img src="/assets/images/Dashboard.png" alt="Dashboard" style="width:194px;height:57px;"><div class="nav-bar-list"></div>
<br>
{{!-- <p>{{msg}}</p>
 {{#each examples}}
<p ="quiz/{{this.id}}">{{this.user}}</p>
{{/each}} --}}

<a id="sign-out">Sign Out</a>
</div>


<div class="side-bar">
{{> navbar-views/main-nav sleep=false}}

</div>



<div id="display-stage">

{{> stage-views/quizlist-block sleep=false}}
</div>


