<div class="nav-bar">
<h1>Dashboard</h1>
<a id="sign-out">Sign Out</a>
</div>


<div class="side-bar">
<ul class="dash-list">
    <li class="dash-listitem"><a>My Courses</a></li>
    <li class="dash-listitem"><a>Settings</a></li>
</ul>

</div>



<div class="quiz-table">

{{> settings/settings-block sleep=false}}
</div>