<div class="nav-bar">
<h1>VodLearn</h1>
<div class="nav-bar-list">
    <ul><li><a href="#features">Features</a></li><li><a href="#TBD">Coming Soon</a></li><li><a>API Documentation</a></li></ul>
</div>

</div>
<div>
{{!-- <p>This is the main page</p> --}}
</div>
<div class="account-container">
<div class="login-container">
    
<form id="login-form" >
<div class="center">
<div class="form-group">
<label  class="login-label">USERNAME:</label>
<input  id="input-username" class="login-input" name="username" type="text" value="Enter Username">
</div>
<div  class="form-group">
<label class="login-label">PASSWORD:</label>
<input id="input-password" class="login-input" name="password" type="text" value="Enter Password">
</div>
<input id="login-button"class="submit-button" value="LOGIN">
</div>
</form>
</div>
<div class="signup-container" id="slider">
    <div class="signup-button-container">
    {{!-- <h1>Join Us!</h1> --}}
<button id="signup-button">SIGN UP</button>
</div>
<form id="signup-form">
{{!-- <h2>SIGN UP</h2> --}}
<label class="signup-label">USERNAME:</label>
<input id="username-input-signup" class="signup-input" type="text" value="ENTER USERNAME" name="username">
<label  class="signup-label">EMAIL:</label>
<input id="email-input-signup"class="signup-input" type="email" value="ENTER EMAIL">
<label class="signup-label">PASSWORD:</label>
<input id="password-input-signup" class="signup-input" type="password" value="ENTER PASSWORD" name="password">
<label  class="signup-label">CONFIRM PASSWORD:</label>
<input class="signup-input" type="password" value="CONFIRM PASSWORD">
<p id="signup-message"></p>
<input  id="create-account-button" class="submit-button" value="CREATE ACCOUNT">
</form>
</div>
</div>

<div class="card-container">
<div id="features" class="features-container">
<h1>Features</h1>
<ul>
    <li>Create Custom Quizzes with our Easy to Use Quiz Maker</li>
    <li>Send Emails and Invite Others to take your Custom Quizzes</li>
</ul>
</div>

<div id="TBD" class="TBD-container">
<h1>Coming Soon</h1>
<ul>
    <li>Add Video Lessons into your Custom Quizzes</li>
    <li>Create Full lesson Plans including Slide-Shows & Aditional Reading Material</li>
    <li>Full User Statistics including Tracking and Progress Features</li>
    <li>Slack Integration</li>
</ul>

</div>
</div>


<script src="../assets/js/main.js"></script>
