<h1>Main Page</h1>

<div>
    <p>This is the main page</p>
</div>

<div class="login-container">
<form id="login-form">
<input name="username" type="text">
<input name="password" type="password">
<input type="submit" value="Login">
</form>
</div>