<div class="nav-bar">
<h1>VodTrain</h1>
<div class="nav-bar-list">
    <ul><li>Features</li><li>API Documentation</li></ul>
</div>

</div>
<div>
<p>This is the main page</p>
</div>
<div class="account-container">
<div class="login-container">
<form id="login-form">
<div class="form-group">
<label id="form-label">USERNAME:</label>
<input  class="form-text" name="username" type="text" value="Enter Username">
</div>
<div  class="form-group">
<label id="form-label">PASSWORD:</label>
<input class="form-text" name="password" type="password" value="Enter Password">
</div>
<input id="login-button"class="submit-button" type="submit" value="LOGIN">
</form>
</div>
<div class="signup-container">
<button id="signup-button">SIGN UP</button>
<form id="signup-form">
<label id="form-label">USERNAME:</label>
<input class="signup-text" type="text" value="ENTER USERNAME">
<label id="form-label">EMAIL:</label>
<input class="signup-text" type="email" value="ENTER EMAIL">
<label id="form-label">PASSWORD:</label>
<input class="signup-text" type="password" value="ENTER PASSWORD">
<label  id="form-label">CONFIRM PASSWORD:</label>
<input class="signup-text" type="password" value="CONFIRM PASSWORD">
<input type="submit">
</form>
</div>
</div>
<script src="../assets/js/main.js"></script>
