<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Question</strong>: {{example.question}}</p>
          <p>
            <strong>Choices:</strong> {{example.choices}}</p>
          <p>
            <strong>Correct Answer:</strong> {{example.correct_answer}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>