<div class="nav-bar">
<h1>Quiz</h1>
<br>
<a id="sign-out">Sign Out</a>
</div>


{{!-- <div id="quiz-header">
{{> quiz-views/quiz-header sleep=false}}

</div>



<div id="quiz-body">

{{> quiz-views/quiz-body sleep=false}}
</div> --}}


{{#each quiz}}

<h1>{{quiz_name}}</h1>

{{/each}}
<form>
<ul>
 {{#each question}}
<li>
{{question}}
<input type="radio">

</li>
{{/each}}
</ul>
</form>


