<div class="nav-bar">
<h1>Quiz</h1>
<br>
<a id="sign-out">Sign Out</a>
</div>


{{!-- <div id="quiz-header">
{{> quiz-views/quiz-header sleep=false}}

</div>



<div id="quiz-body">

{{> quiz-views/quiz-body sleep=false}}
</div> --}}


{{quiz}}

<h1>Quiz Name: {{quiz_name}}</h1>


<br>
<form>
<ol>
 {{#each question}}
<li>
{{question}}
<input type="radio">
</li>
<br>
{{/each}}
</ol>
</form>

{{#each choice}}
<h1>{{choice}}</h1>
{{/each}}


