body{
    background-color: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}
.account-container{
    background-color:rgb(179, 187, 185);
    border-radius:10px;
    width: 60%;
    margin: 0 auto;
    /* padding: 10px; */
    height: 100%;
    display: block;
    box-shadow: 5px 10px 8px 5px rgba(0, 0, 0, 0.137);
    text-align: center;
    overflow: auto;
    


}
.login-container{
    display: inline-block;
    border: 2px solid red;
    width: 40%;
    height: 100%;
}
#login-form *{

    text-align: center;
    font-size: 23px;
    margin: 5px auto;
}
 input{
    border-width: 0px;
    background-color:rgb(179, 187, 185);
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: darkgray;
    color: gray;
    display:block;
    border-radius: 3px;

}
#login-button{
color: white;
border: 2px solid gray;
border-width: 2px 2px 2px 2px;
background-color: rgb(75, 169, 224);
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.137);
}
#login-button:hover{
background-color: darkgray;
}
.form-group{
    display: inline;
    width: 100%;
}
#form-label{
    font-size: 15px;
    float: left;
}
.nav-bar-list{
display: inline;
}
.nav-bar h1{
    display: inline;
}

.submit-button{
   border-width: 2px; 
   background-color: darkgray;
}


.side-bar{
    position: absolute;
    height: 100%;
    background-color:rgb(75, 169, 224);
    width: 20%;

}

.signup-container{
    height: 200px;
    width: 40%;
    /* position: relative;
    top: 0; */
    display: inline-block;
    border: 2px solid red;
    /* margin: 0 auto; */
  vertical-align:top
}
#signup-button{
font-size: 16px;
background-color:rgb(75, 169, 224);
color: white;
font-family: 'Open Sans', sans-serif;
}
.nav-bar{
    position: relative; 
    top: 0;
    width: 100%;
    display: inline-block;
    background-color: gray;
    padding: 10px;
}
#sign-out{
    float: right;
   margin: 5px;
}
.quiz-table{
    position: static;
    /* float: right; */
    width: 60%;
    border:  2px solid lightgray;
    border-radius: 10px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
  
}
#delete-button:hover{
background-color: green;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
tr:nth-child(even) {
    background-color: #dddddd;
  }



