body{
    background-color:whitesmoke;
    color: black;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}
.account-container{
    background-color:white;
    border-radius:10px;
    border-width: 0px;
    width: 50%;
    margin: 0 auto;
    height: 400px;
    display: block;
    box-shadow: 5px 10px 8px 5px rgba(0, 0, 0, 0.137);
    text-align: center;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
    margin-top: 20px;
}
.login-container{
    display: inline-block;
    width: 50%;
    height: 400px;
    text-align: left;
    vertical-align:top
}
#login-form {
    text-align: center;
    font-size: 23px;
    margin: 0px auto;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    vertical-align:center;
    margin-left: 10%;
    margin-right: 10%;
}
.login-input{
    padding: 0px;
    display:block;
    font-size: 23px;
    margin: 0px auto;
    float: left;
    text-align: left;
    width: 60%;
    font-family: 'Oswald', sans-serif;
    background-color:inherit;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: rgba(211, 211, 211, 0.521);
    color: lightgray;
    /* border: 1px solid red; */
    margin-left: 10px;
   
}
.login-label{
    font-size: 23px;
    float: left;
    font-family: 'Oswald', sans-serif;
    color: tomato;
    vertical-align:center;
    /* border: 1px solid red; */
    margin-right: 10px;
}
#login-button{
    color: white;
    border: 2px solid gray;
    border-width: 2px 2px 2px 2px;
    background-color: rgb(75, 169, 224);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.137);
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
    border-radius:5px;
    font-size: 23px;
    text-align: center;
    width: 30%;
        
    }
    #login-button:hover{
    background-color: rgb(0, 70, 136);
    }


#signup-form{
    display: none;
    font-size: 23px;
    margin: 5px auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    margin-left: 10%;
    margin-right: 10%;
}
.signup-container h1,h3{
    color: white;
    font-size: 50px;
   
}


.signup-input{
    font-size: 23px;
    margin: 5px auto;
    text-align: left;
    width: 60%;
    font-family: 'Oswald', sans-serif;
    background-color:inherit;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: rgba(211, 211, 211, 0.521);
    color: rgba(211, 211, 211, 0.459);
    display: block;
    margin-left: 10px;
}
.signup-label{
    color: white;
    font-size: 20px;
    float: left;
    font-family: 'Oswald', sans-serif;
    margin-right: 10px;
}
.submit-button{
    color: white;
    border: 2px solid gray;
    border-width: 2px 2px 2px 2px;
    background-color: rgb(75, 169, 224);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.137);
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
    border-radius:5px;
    font-size: 23px;
    text-align: center;
 }
 .submit-button:hover{
    background-color:rgb(0, 70, 136);
 }
 .signup-button-container{
    position: relative;
    top: 50%;
    border-radius: 5px;
    transform: translate(0%, -50%);
    height: auto;
   vertical-align: top;
 }

#signup-button{
    font-size: 30px;
    background-color:rgb(75, 169, 224);
    color: white;
    border: 2px solid gray;
    border-width: 2px 2px 2px 2px;
    background-color: rgb(75, 169, 224);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.137);
    color: white;
    font-family: 'Oswald', sans-serif;
    width: 25%;
    position: relative;
    top: 50%;
    border-radius: 5px;
    margin-right: 50%;
    text-align: center;
    /* transform: translate(0%, -50%); */
 
    }
    #signup-button:hover{
        background-color:rgb(0, 70, 136);
    }



.form-group{
    display: inline;
    width: 100%;
    vertical-align:center;

}
#form-label{
    font-size: 15px;
    float: left;
}

.card-container{
    position: absolute;
    top: 100%;
    width: 100%;
}

.features-container{
    width: 100%;
    box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.418);
    background-color: rgb(14, 125, 189);
    height: 200px;
}

.features-container li {
    margin-left: 30%;
    color: white;
}

.features-container h1 {
    color: orange;
    text-align: center;
    margin-bottom: 30px;
}

.TBD-container h1 {
    color: orange;
    text-align: center;
    margin-bottom: 30px;
}
.TBD-container li {
    margin-left: 30%;
    color: white;
}

.TBD-container{
    height:200px;
    width: 100%;
    box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.418);
    background-color:rgb(11, 84, 126);
}

.dash-listitem{
    padding: 0px;
    color: white;

    font-family: 'Oswald', sans-serif;
    /* text-align: center; */
    font-size: 25px;
    position: relative;
    border-width: 1px 0 1px 0;
    border-color: lightgray;
    border-style: solid;
    margin: 10px;
}

.dash-listitem:hover{
    background-color:rgb(0, 70, 136);
}

.dash-list{
list-style: none;
text-align: center;
}

.dashboard-button{
    background-color:green;
    color: white;
    font-family: 'Oswald', sans-serif;
    border: 2px solid white;
    font-size: 20px;
    margin: 5px;
    float: right;
    display: inline-block;
}

.nav-bar-list{
    display: inline;
    }
    .nav-bar h1{
        display: inline;
    }
    
    .nav-bar {
        text-align: center;
    }
    
    .nav-bar a {
        color: orange;
    }



.side-bar{
    position: absolute;
    height: 100%;
    background-color:rgb(75, 169, 224);
    width: 20%;

}
#display-stage{
    position: absolute;
    right: 0%;
    width: 80%;
    height: auto;
}


.nav-bar{
    color: white;
    position: relative; 
    top: 0;
    width: 100%;
    display: inline-block;
    background-color: rgb(14, 125, 189);
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.nav-bar li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
}


#sign-out{
    float: right;
   margin: 5px;
}
.quiz-table{
    position: static;
    width: 60%;
    border:  2px solid lightgray;
    border-radius: 10px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
  
}
#delete-button:hover{
background-color: green;
}



.delete-button:hover{
background-color: green; 
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
tr:nth-child(even) {
    background-color: #dddddd;
  }

.questionmaker{
background-color:lightgray;
width: 100%;
position: relative;
margin: 10px;
padding: 5px;
border-radius: 10px;
font-family: 'Open Sans', sans-serif;
font-size:15px;
float: left;
}

.questionmaker input{
    font-family: 'Open Sans', sans-serif;
    font-size:15px; 
}

.radio-button{
border-width: 0;
}

#quiz-name{
    font-size: 20px;
    background-color: inherit;
    color:rgb(0, 70, 136);
    border-width: 0 0 1px 0;
    border-color: rgb(0, 70, 136);
    border-style: solid;
}
#add-choice-button{
    max-width: 20px;
    max-height: auto;
}







#slider {
    transform: translateX(-0%);
    -webkit-transform: translateX(-0%);
    background-color: tomato;
    height: 400px;
    width: 100%;
    display: inline-block;
    vertical-align:top
}

.signup-container {
    animation: slide-in 1.0s forwards;
    -webkit-animation: slide-in 1.0s forwards;
    background-color: tomato;
    height: 400px;
    width: 50%;
    display: inline-block;
    vertical-align:top;

}

.slide-out {
    animation: slide-out 1.0s forwards;
    -webkit-animation: slide-out 1.0s forwards;
}
    
@keyframes signup-container {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes signup-container {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-50%); }
}


.choice-div{
    display: inline;
}

.choice-div p {
    margin-right: 10px;
    margin-left: 10px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}



#quiz-title {
    color: orange;
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#quiz-form {
    border-radius: 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    background-color: whitesmoke;
    box-shadow: 5px 10px 8px 5px rgba(0, 0, 0, 0.137);

}

ol {
    font-size: 10px;
    margin-left: 25%;
}

#question-number {
    font-size: 20px;
}
#question-style {
    font-size: 20px;
}

#submit-quiz {
    margin-left: 45%;
}

#questionchoice {
    color: red;
}


#quiz-form {
    border-radius: 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    background-color: whitesmoke;
    box-shadow: 5px 10px 8px 5px rgba(0, 0, 0, 0.137);

}

#question-number {
    font-size: 20px;
}
#question-style {
    font-size: 20px;
}

#submit-quiz {
    margin-left: 45%;
}

#questionchoice {
    color: red;
}
