<ul class="dash-list">
    <li id="back-button" class="dash-listitem"><a>Back</a></li>
    <li id="users-button" class="dash-listitem">Manage Users</li> 
    <li id="preview-button" class="dash-listitem">Preview Quiz</li>
</ul>