<div class="container">



  <h1>Add Quiz</h1>
  <h1>{{quiz_name}}</h1>



  <label>Quiz Name:</label>
  <input id="quiz-name" type="text"><br>

  <br>

  <br>
  <button id="save-quiz-button" class="dashboard-button">Save Quiz</button>


  <br>

<div>
  <table id="question-table">
   <tr>
    <th>Question #</th>
    <th>Question Type</th>
    <th>Question</th>
    <th># Choices</th>
</tr> 

  </table>
</div>


  <div id="question-list">

    <div class="questionmaker">
      <label>Question Type:</label>
      <input list="questiontype" name="questiontype">
      <datalist id="questiontype">
        <option value="True/False">
        <option value="Multiple Choice">
      </datalist>
      <br>

      <label>Question:</label>
      <input id="question-input" type="text">
      <br>

      <div class="choice-box">
        {{!-- <label>Option #1</label><input id="option-1" type="text">
        <br>
        <label>Option #2</label><input id="option-2" type="text">
        <br> --}}
        
      </div>
    <img id="add-choice-button" src="/assets/plus-button.svg">
      <br>
      <button id="add-question-button">Save Question</button>
    </div>


  </div>
  {{!-- <button id="add-question-button" class="dashboard-button">+ Question</button> --}}


</div>
</div>

<script>

  var question_array = [];
  var optionsarray=[];
 


  $("#quiz-name").val("{{quiz_name}}");

  $("#add-choice-button").on("click", function () {
    var newoption = "<label>Option #" + (optionsarray.length + 1) + "</label><input type='text'><br>"
    optionsarray.push(newoption);
    question_array.push({
      question_type:"multiple_choice",
      question:"How Many is a Dozen?",
      choices:["12","13","14","15"]
    });
    $(".choice-box").append(optionsarray[optionsarray.length - 1]);
  })

  $("#save-quiz-button").on("click", function () {
    var newquiz = {
      quiz_name: $("#quiz-name").val(),
      questions:question_array
    }

    $.post("/api/addquiz", newquiz, function () {

    });

  });


  $("#add-question-button").on("click", function () {
    var question={
      question_type:"MC",
      question:$("#question-input").val(),
      choices:optionsarray,
      QuizId:1
    }
  
    addQuestion(question);
    optionsarray=[];
  });

  function addQuestion(formdata){
    question_array.push(formdata);
    var questionid=question_array.length;
    var question=formdata.question;
    var choicenumber=formdata.choices.length;
    var questiontype=formdata.question_type;

    $("#question-table").append(`<tr><td>${questionid}</td><td>${questiontype}</td><td>${question}</td><td>${choicenumber}</td></tr>`);

  }

function getQuestions(){
$.get("/api/addquiz/questions/{{id}}",function(results){
console.log(results)
addQuestion(results[0]);
});


}
</script>