<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          {{#each quizlist}}
          <p>
            <strong>ID</strong>: {{id}}</p>
          <p>
          <p>
            <strong>Quiz Name</strong>: {{quiz_name}}</p>
          <p>
            <strong>Choices:</strong> {{example.choices}}</p>
          <p>
            <strong>Correct Answer:</strong> {{example.correct_answer}}</p>
            <a href="/">← Back To Home</a>
          {{/each}}  
        </div>
      </div>
    </div>
  </div>
</div>