<table>
     <tr>
    <th>Quiz Name</th>
    <th>Date Created</th> 
    <th>Invitees</th>
    <th></th>
  </tr>
 {{#each quizlist}}
 <tr>
  <td><a  data-quizid={{id}}  onclick="addQuiz({{id}})">{{quiz_name}}</a></td>
    <td>{{createdAt}}</td> 
    <td></td>
    <td><img id="delete-button" src="/assets/delete-button.svg"></td>
    </tr>
{{/each}}
</table>
<button onclick="addQuiz(-1)" id="addquiz-button" class="dashboard-button">+Add Course</button>


    <script>

function addQuiz(id){
    console.log('Display Add Quiz');
    if(id==-1){
        id=null;
    }
        $.get( '/addquiz/'+id, function( data ) {
            $( '#display-stage' ).html( data );
          });
    }
</script>